body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.draggable {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.undraggable {
  -webkit-app-region: no-drag;
  -webkit-user-select: unset;
  user-select: unset;  
}

.MuiAutocomplete-popper {
  -webkit-app-region: no-drag;
  -webkit-user-select: unset;
  user-select: unset;
}

/* ===== Scrollbar CSS ===== */
  * {
  scrollbar-width: none;
  scrollbar-color: #e6750c9c transparent;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-x {
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6750c9c;
  border-radius: 10px;
}